@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans|PT+Sans+Caption:400,700);
.somestuff {
	background:#ccc;
	background-color: rgba(204, 204, 204, 0.4);
	box-shadow:0px 0px 8px 2px rgba(0, 0, 0, 0.2)
}
.midtown {
	margin-top:14px;
	margin-bottom:14px;
}
dl dt {
  color: #555;
}
dt:after 
{ 
	content: ":"; 
}
dl dd {
    margin: 0 0 10px 0;
}
.header {
  background: #222;
  background-image: url('../images/blackwood_1.jpg');
  color: white;
  /* position: fixed;*/
}
.name:hover {
	vertical-align: middle;
}
/*.name h1:hover {
	-webkit-transform: rotate(-24deg);
	-moz-transform: rotate(-24deg);
	color:gold;
	text-decoration: overline underline;
}
*/
.header h1 {
	color:#fdfdfd;
}
.header h4 {
  font-family: "PT Sans Caption", sans-serif;      
  font-weight: normal;
  font-style: italic;
  color: #a0a0a0;
}
.header dl {
    float: right;
    margin: 0;
}
.skills ul {
    list-style-type: none;
    margin: 0 0 10px 0;
}
.skills ul li {
    float: left;
    margin: 0 5px 5px 0;
    font-size: 90%;
    background: #b3b3b3;
    padding: 4px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.skills li:hover {
	background:#7C7C7C
}
body {
  	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	background-color: #ffffff;
	background-image: url('../images/grainy-lt-grey.jpg');
}
.experiance ul li {
/*	list-style-type: none;*/

}
.footer {
	top: 1em;
	left:0px;
	bottom:0px;
	height:2.143em;
	width:100%;
	background:#999;
	background-color:rgba(153,153,153,0.5);
	box-shadow:0px 0px 8px 2px rgba(204, 204, 204, 0.3);
}
.footer dl {
	display:inline-block;
	padding: 0px 0.714em 0px 0.714em	
}
h1 {
	font-family: 'Source Sans Pro', sans-serif;
}
h4 {
	font-family: 'Source Sans Pro', sans-serif;	
}
h3 {
	color: #555;
	font-family: 'Open Sans', sans-serif;
	text-rendering: auto;
	font-variant:small-caps;
}